body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    border:2px solid rgb(88, 88, 182);
}
#posts {
    /* max-width: 600px; */
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.comments-show-container{
    background-color:rgb(88, 88, 182);
    color: #fff;
    position: relative;
    z-index: 1;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 5px 5px rgb(90, 85, 85);
}

.post {
    max-width: 700px;
    height: 250px;
    margin: 15px;
    
    /* padding: 15px; */
}
button {
    background-color: rgb(112, 112, 215);
    height: 30px;
    color: #fff;
    font-size: 15px;
    border-radius: 10px;
    width: 140px;
}
.comments-list {
    display: none;
}
.show-comments {
    display: block;
}